<div class="container">

    <h1 class="my-4 text-center">Awards</h1>
    <p><h5 class="text-center">This year’s awards are provided by our sponsors:</h5>
    <div class="text-center">
      <a href="http://www.northropgrumman.com/Pages/default.aspx">
        <img class="img-thumbnail img-fluid  center-block d-block mx-auto" src="assets/images/ng.png" alt="">
      </a>
    </div>
    <div class="row pt-4">
        <div class="col-sm col-md col-md">
            <a href="https://kronosaur.com/">
              <img class="img-thumbnail img-fluid  center-block d-block mx-auto" src="assets/images/kp.jpg" alt="">
            </a>
        </div>
        <div class="col-sm col-md">
            <a href="https://transcendence.kronosaur.com/">
              <img class="img-thumbnail img-fluid  center-block d-block mx-auto" src="assets/images/tt.jpg" alt="">
            </a>
          </div>
        <div class="col-sm col-md">
          <a href="https://www.snapchat.com/">
            <img class="img-thumbnail img-fluid  center-block d-block mx-auto" src="assets/images/sc.jpg" alt="">
          </a>
        </div>
      </div>
    <div class="row pt-4">
        <div class="col-sm col-md">
          <a href="https://www.nsf.gov/">
            <img class="img-thumbnail img-responsive img-fluid  center-block d-block mx-auto" src="assets/images/nsf.jpg" alt="">
          </a>
        </div>
        <div class="col-sm col-md">
          <a href="https://www.nsa.gov/">
            <img class="img-thumbnail img-responsive img-fluid  center-block d-block mx-auto" src="assets/images/nsa.png" alt="">
          </a>
        </div>
        <div class="col-sm col-md">
          <a href="https://www.gen-cyber.com/">
            <img class="img-thumbnail img-responsive img-fluid  center-block d-block mx-auto" src="assets/images/gc.png" alt="">
          </a>
        </div>
      </div>
  </div>
