<!-- <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table> -->
<table class="table table-striped" >
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Full Name</th>
      <th scope="col">Question Solved</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr scope="row"  *ngFor="let element of data.message">
      <td scope="row" class="text-center">{{element.rank}}</td>
      <td scope="col">{{element.fullName}}</td>
      <td scope="col" class="text-center">{{element.questionSolved}}</td>
      <td scope="col">{{element.finalScore}}</td>
    </tr>
  </tbody>
</table>
<app-partner></app-partner>
