<!-- <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table> -->
<table class="table table-striped" >
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Full Name</th>
      <th scope="col">Question Solved</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
      <!-- *ngFor="let element of data.message" -->
    <tr scope="row"  >
      <td scope="row" class="text-center">{{data.message[0].rank}}</td>
      <td scope="col">{{data.message[0].fullName}}</td>
      <td scope="col" class="text-center">{{data.message[0].questionSolved}}</td>
      <td scope="col">{{data.message[0].finalScore}}</td>
    </tr>
  </tbody>
</table>
<app-partner></app-partner>
